<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>totalNutrias</key>
		<integer>2</integer>
		<key>time</key>
		<integer>15</integer>
		<key>damping</key>
		<real>0.75</real>
		<key>maxShown</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
